@font-face {
  font-family: "PTSans-Narrow";
  src: url("../fonts/PTSans-Narrow.ttf");
}

@font-face {
  font-family: "Impact";
  src: url("../fonts/ImpactPureNumber.ttf");
}

.impact{
  font-family: 'Impact', sans-serif;
}
