// Colors
$green          : #00b56b !global;
$cyan           : #5AC8FA !global;
$blue           : #007AFF !global;
$purple         : #5856D6 !global;
$magenta        : #FF2D70 !global;
$red            : #FF3B30 !global;
$orange         : #FF9500 !global;
$yellow         : #FFCC00 !global;
$gray           : #8E8E93 !global;

* {
  padding: 0;
  margin: 0;
  border: 0;
  font-family: "PingFang SC", "Microsoft Yahei UI", "Microsoft Yahei", "Helvetica", sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  width: 100%;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: $color-text;
}

table {
  border-collapse: collapse;
}

input,
textarea {
  //-webkit-appearance: none !important;
}

code,
kbd,
pre,
samp,
tt {
  font-family: "Courier New", Courier, monospace;
}

:focus,
:active {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  outline: none;
}

::-webkit-scrollbar {
  z-index: 50;
  width: 3px;
  height: 3px;
}

::-webkit-scrollbar-track {
  border-bottom: 1px solid $bg-highlight;
  border-right: 1px solid $bg-highlight;
  background-color: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #eee;
  transition: all .2s;
  height: 3px;
}

:hover::-webkit-scrollbar-thumb {
  background-color: #dfdfdf;
  transition: all .2s;
}

::-webkit-scrollbar-button {
  display: none;
}

::-webkit-scrollbar-corner {
  display: none;
}