
.text-emphasis{
  @extend .bold;
  font-size: $font-size * 1.1 !important;
}

.text-title{
  font-size: $font-size * 1.2 !important;
  font-weight: bold;
}
.text-normal{
  font-weight: normal;
}

.text-small{
  font-size: $font-size * 0.8 !important;
}

.text-narrow{
  font-family: "Arial Narrow", Sans-serf !important;
}
.bold{
  font-weight: bold;
}


$text-colors: (
        "purple": $purple,
        "blue": $blue,
        "cyan": $cyan,
        "green": $green,
        "yellow": $yellow,
        "orange": $orange,
        "red": $red,
        "magenta": $magenta,
        "gray": $gray,
        "light-gray": lighten($gray, 10%),
);

@each $name, $color in $text-colors {
  .#{$name}{
    color: $color;
  }
}
