// Colors
$green          : #00b56b !global;
$cyan           : #5AC8FA !global;
$blue           : #007AFF !global;
$purple         : #5856D6 !global;
$magenta        : #FF2D70 !global;
$pink           : #ff63d8 !global;
$red            : #FF3B30 !global;
$orange         : #FF9500 !global;
$yellow         : #FFCC00 !global;
$gray           : #8E8E93 !global;



$bg-highlight   : #eeeeee;
$font-size: 0.9rem;

$color-border: #dadada;
$use-shadow: false;

$text: #333;
$text-header: #000;

// label
$label-corner: 15px;
$label-transparent-rate: 0.2;
$label-padding: 3px;
$label-padding-lr: 8px;
$label-font-size: 0.9rem;
$label-font-size-sm: 0.8rem;
