$bg-highlight   : #eeeeee;
$font-size: 0.9rem;

$color-border: #dadada;
$use-shadow: false;

$color-text: #444;

// label
$label-corner: 3px;
$label-transparent-rate: 0.2;
$label-padding: 3px;
$label-font-size: 0.8rem;

.font-narrow{
  font-family: "Arial Narrow", Sans-serf;
}