// Colors
$green          : #00b56b;
$cyan           : #5AC8FA;
$blue           : #007AFF;
$purple         : #5856D6;
$magenta        : #FF2D70;
$pink           : #ff63d8;
$red            : #FF3B30;
$orange         : #FF9500;
$yellow         : #FFCC00;
$gray           : #8E8E93;



$bg-highlight   : #eeeeee;
$font-size: 0.9rem;

$color-border: #dadada;
$use-shadow: false;

$text: #333;
$text-header: #000;

// label
$label-corner: 15px;
$label-transparent-rate: 0.2;
$label-padding: 3px;
$label-padding-lr: 8px;
$label-font-size: 0.8rem;
$label-font-size-sm: 0.7rem;
