@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
  font-family: inherit;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  width: 100%;
  margin: 0 auto;
  font-family: "PingFang SC", "Microsoft Yahei UI", "Microsoft Yahei", "Helvetica", sans-serif;
}

a {
  text-decoration: none;
  color: #333;
}

table {
  border-collapse: collapse;
}

code,
kbd,
pre,
samp,
tt {
  font-family: "Courier New", Courier, monospace;
}

:focus,
:active {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  outline: none;
}

::-webkit-scrollbar {
  z-index: 50;
  width: 3px;
  height: 3px;
}

::-webkit-scrollbar-track {
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  background-color: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #eee;
  transition: all 0.2s;
  height: 3px;
}

:hover::-webkit-scrollbar-thumb {
  background-color: #dfdfdf;
  transition: all 0.2s;
}

::-webkit-scrollbar-button {
  display: none;
}

::-webkit-scrollbar-corner {
  display: none;
}

.text-emphasis {
  font-size: 0.99rem !important;
}

.text-title {
  font-size: 1.08rem !important;
  font-weight: bold;
}

.text-normal {
  font-weight: normal;
}

.text-small {
  font-size: 0.72rem !important;
}

.text-narrow {
  font-family: "PTSans-Narrow", Sans-serf !important;
}

.text-bold, .text-emphasis {
  font-weight: bold;
}

.purple {
  color: #5856D6;
}

.blue {
  color: #007AFF;
}

.cyan {
  color: #5AC8FA;
}

.green {
  color: #00b56b;
}

.yellow {
  color: #FFCC00;
}

.orange {
  color: #FF9500;
}

.red {
  color: #FF3B30;
}

.magenta {
  color: #FF2D70;
}

.gray {
  color: #8E8E93;
}

.light-gray {
  color: #a8a8ac;
}

.dual-label-cpu {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 5px;
  font-size: 0.8rem;
}
.dual-label-cpu:last-child {
  margin-bottom: 0;
}
.dual-label-cpu > div {
  line-height: 1;
  font-weight: bold;
  text-align: center;
  padding: 3px 8px;
  min-width: 30px;
}
.dual-label-cpu .model {
  padding-right: 10px;
  min-width: 1.6rem;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  background-color: rgba(255, 45, 112, 0.8);
  color: white;
  border-color: rgba(255, 45, 112, 0.8);
  border-style: solid;
  border-width: 1px 0 1px 1px;
  z-index: 5;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
.dual-label-cpu .rate {
  margin-left: -10px;
  padding-left: 15px;
  padding-right: 10px;
  -webkit-border-radius: 0 15px 15px 0;
  -moz-border-radius: 0 15px 15px 0;
  border-radius: 0 15px 15px 0;
  border-color: rgba(255, 45, 112, 0.8);
  color: #FF2D70;
  font-weight: normal;
  background-color: white;
  border-style: solid;
  border-width: 1px 1px 1px 0;
}

.dual-label-gpu {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 5px;
  font-size: 0.8rem;
}
.dual-label-gpu:last-child {
  margin-bottom: 0;
}
.dual-label-gpu > div {
  line-height: 1;
  font-weight: bold;
  text-align: center;
  padding: 3px 8px;
  min-width: 30px;
}
.dual-label-gpu .model {
  padding-right: 10px;
  min-width: 1.6rem;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  background-color: rgba(255, 149, 0, 0.8);
  color: white;
  border-color: rgba(255, 149, 0, 0.8);
  border-style: solid;
  border-width: 1px 0 1px 1px;
  z-index: 5;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
.dual-label-gpu .rate {
  margin-left: -10px;
  padding-left: 15px;
  padding-right: 10px;
  -webkit-border-radius: 0 15px 15px 0;
  -moz-border-radius: 0 15px 15px 0;
  border-radius: 0 15px 15px 0;
  border-color: rgba(255, 149, 0, 0.8);
  color: #FF9500;
  font-weight: normal;
  background-color: white;
  border-style: solid;
  border-width: 1px 1px 1px 0;
}

.dual-label-memory {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 5px;
  font-size: 0.8rem;
}
.dual-label-memory:last-child {
  margin-bottom: 0;
}
.dual-label-memory > div {
  line-height: 1;
  font-weight: bold;
  text-align: center;
  padding: 3px 8px;
  min-width: 30px;
}
.dual-label-memory .model {
  padding-right: 10px;
  min-width: 1.6rem;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  background-color: rgba(0, 122, 255, 0.8);
  color: white;
  border-color: rgba(0, 122, 255, 0.8);
  border-style: solid;
  border-width: 1px 0 1px 1px;
  z-index: 5;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
.dual-label-memory .rate {
  margin-left: -10px;
  padding-left: 15px;
  padding-right: 10px;
  -webkit-border-radius: 0 15px 15px 0;
  -moz-border-radius: 0 15px 15px 0;
  border-radius: 0 15px 15px 0;
  border-color: rgba(0, 122, 255, 0.8);
  color: #007AFF;
  font-weight: normal;
  background-color: white;
  border-style: solid;
  border-width: 1px 1px 1px 0;
}

.gpu .model {
  font-weight: normal;
}

.memory .rate {
  font-weight: normal;
}

.label {
  font-size: 0.8rem;
  display: inline-block;
  padding: 2px 8px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  margin-right: 3px;
  line-height: 1;
}

.label-block {
  text-align: center;
  margin-bottom: 2px;
  display: block;
}

.label-narrow {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  padding: 2px 3px;
}

.label-green {
  color: white;
  border: 1px solid rgba(0, 181, 107, 0.9);
  background-color: rgba(0, 181, 107, 0.8);
}

.label-cyan {
  color: white;
  border: 1px solid rgba(90, 200, 250, 0.9);
  background-color: rgba(90, 200, 250, 0.8);
}

.label-blue {
  color: white;
  border: 1px solid rgba(0, 122, 255, 0.9);
  background-color: rgba(0, 122, 255, 0.8);
}

.label-purple {
  color: white;
  border: 1px solid rgba(88, 86, 214, 0.9);
  background-color: rgba(88, 86, 214, 0.8);
}

.label-magenta {
  color: white;
  border: 1px solid rgba(255, 45, 112, 0.9);
  background-color: rgba(255, 45, 112, 0.8);
}

.label-pink {
  color: white;
  border: 1px solid rgba(255, 99, 216, 0.9);
  background-color: rgba(255, 99, 216, 0.8);
}

.label-red {
  color: white;
  border: 1px solid rgba(255, 59, 48, 0.9);
  background-color: rgba(255, 59, 48, 0.8);
}

.label-orange {
  color: white;
  border: 1px solid rgba(255, 149, 0, 0.9);
  background-color: rgba(255, 149, 0, 0.8);
}

.label-yellow {
  color: white;
  border: 1px solid rgba(255, 204, 0, 0.9);
  background-color: rgba(255, 204, 0, 0.8);
}

.label-gray {
  color: white;
  border: 1px solid rgba(142, 142, 147, 0.9);
  background-color: rgba(142, 142, 147, 0.8);
}

.battery {
  display: inline-block;
  font-size: 0.8rem;
  line-height: 10px;
  padding: 4px 5px;
  border: 1px solid rgba(0, 181, 107, 0.8);
  text-align: center;
  color: white;
  background-color: rgba(0, 181, 107, 0.8);
  position: relative;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.battery:after {
  content: "";
  position: absolute;
  right: -5px;
  top: 4px;
  height: 10px;
  width: 3px;
  background-color: rgba(0, 181, 107, 0.8);
  -webkit-border-radius: 0 2px 2px 0;
  -moz-border-radius: 0 2px 2px 0;
  border-radius: 0 2px 2px 0;
}

.label-storage:after {
  content: "·";
  color: #8E8E93;
}
.label-storage:last-child:after {
  content: "";
}

tbody tr.active td:first-child {
  transform: scale(1.1);
}
tbody tr.active .label-green {
  background-color: #00b56b;
  color: white;
}
tbody tr.active .label-cyan {
  background-color: #5AC8FA;
  color: white;
}
tbody tr.active .label-blue {
  background-color: #007AFF;
  color: white;
}
tbody tr.active .label-purple {
  background-color: #5856D6;
  color: white;
}
tbody tr.active .label-magenta {
  background-color: #FF2D70;
  color: white;
}
tbody tr.active .label-pink {
  background-color: #ff63d8;
  color: white;
}
tbody tr.active .label-red {
  background-color: #FF3B30;
  color: white;
}
tbody tr.active .label-orange {
  background-color: #FF9500;
  color: white;
}
tbody tr.active .label-yellow {
  background-color: #FFCC00;
  color: white;
}
tbody tr.active .label-gray {
  background-color: #8E8E93;
  color: white;
}
tbody tr.active .dual-label-cpu .model {
  background-color: #FF2D70;
  border-color: #FF2D70;
}
tbody tr.active .dual-label-cpu .rate {
  border-color: #FF2D70;
  color: #FF2D70;
}
tbody tr.active .dual-label-gpu .model {
  background-color: #FF9500;
  border-color: #FF9500;
}
tbody tr.active .dual-label-gpu .rate {
  border-color: #FF9500;
  color: #FF9500;
}
tbody tr.active .dual-label-memory .model {
  background-color: #007AFF;
  border-color: #007AFF;
}
tbody tr.active .dual-label-memory .rate {
  border-color: #007AFF;
  color: #007AFF;
}
tbody tr.active .gpu .model {
  background-color: #00b56b;
  border: 1px solid #00b56b;
}

/* Table */
.table-wrapper {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  overflow-x: auto;
}

table {
  width: 100%;
  color: #333;
}
table:hover {
  cursor: crosshair;
}

tbody tr {
  height: 70px;
}
tbody tr:hover {
  background-color: #eeeeee !important;
  color: #000;
}
tbody tr.active {
  background-color: #d5d5d5;
}

tr td:first-child {
  padding-left: 10px;
}
tr td:last-child {
  padding-right: 10px;
}

tbody tr {
  border-bottom: 1px solid #eeeeee;
}
tbody tr:nth-child(odd) {
  background-color: #ffffff;
}
tbody tr:nth-child(even) {
  background-color: #fdfcfc;
}
tbody tr:last-child {
  border-bottom: 0;
}

th {
  white-space: nowrap;
  border-bottom: 1px solid #e7e7e7;
  border-top: 1px solid #e7e7e7;
  text-align: left;
  vertical-align: bottom;
  padding: 10px 5px;
}
th sup {
  font-family: "Arial Narrow", Sans-serf;
  color: #8E8E93;
  font-size: 0.64rem;
  font-weight: normal;
  padding: 0 2px;
}

td {
  min-height: 80px;
  white-space: nowrap;
  vertical-align: middle;
  font-size: 0.9rem;
  padding: 0.5rem 0.2rem;
}
td p {
  margin-bottom: 2px;
}

.search-bar {
  width: 20rem;
  margin-top: 5px;
  margin-bottom: 5px;
}
.search-bar input {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  width: 100%;
  padding: 5px 8px;
  color: white;
  transition: all 0.5s;
}
.search-bar input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
.search-bar input:focus {
  border-color: rgba(255, 255, 255, 0.8);
}
.search-bar input:focus::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.8);
}

.hands-up {
  position: relative;
}
.hands-up-trigger {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  padding: 5px 10px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.1);
}
.hands-up-trigger.active {
  background-color: rgba(255, 255, 255, 0.5);
}
.hands-up-trigger:hover {
  border-color: rgba(255, 255, 255, 0.5);
}
.hands-up-panel {
  -webkit-box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.2);
  padding: 20px 25px;
  color: #9e9e9e;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  left: 120%;
  top: -50%;
  background-color: white;
  position: absolute;
}
.hands-up-panel p {
  white-space: nowrap;
}
.hands-up-panel code {
  color: #007AFF;
  font-weight: bold;
}
@media (max-width: 768px) {
  .hands-up {
    display: none;
  }
}

.about-header {
  display: flex;
  justify-content: space-between;
}
.about-header .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 30px;
}
.about-header .icon img {
  width: 60px;
}
.about-header .content {
  flex-grow: 1;
  display: flex;
  flex-flow: column nowrap;
  margin-left: 50px;
  justify-content: center;
  align-items: flex-start;
}
.about-header .content p {
  margin-bottom: 5px;
}
.about-header .content p:last-child {
  margin-bottom: 0;
}
@media (max-width: 768px) {
  .about-header {
    margin-bottom: 20px;
  }
  .about-header .icon {
    display: none;
  }
  .about-header .content {
    margin-left: 5px;
  }
  .about-header .content .title {
    width: 100%;
    text-align: center;
  }
}

.about {
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.8rem;
  padding: 35px;
  background-color: white;
}
.about a {
  color: white;
}
.about a:hover {
  text-decoration: underline;
}
@media (max-width: 768px) {
  .about {
    align-items: stretch;
    padding: 35px 25px 25px;
    flex-flow: column nowrap;
  }
}

.copyright-group {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .copyright-group {
    flex-flow: column nowrap;
  }
}

.copyright {
  margin-left: 30px;
  padding: 10px 15px;
  justify-content: space-between;
  line-height: 1.5;
  font-size: 12px;
  letter-spacing: 0.5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.1);
}
.copyright p {
  color: rgba(255, 255, 255, 0.7);
}
.copyright p:last-child {
  margin-bottom: 0;
}
@media (max-width: 768px) {
  .copyright {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0.05);
    border: none;
    margin: 0 0 10px;
  }
}

.link:hover {
  color: #FF2D70 !important;
}
.link:active {
  transform: translateY(2px);
}

@media (max-width: 768px) {
  .search-bar {
    display: none;
  }
}
@font-face {
  font-family: "PTSans-Narrow";
  src: url("../fonts/PTSans-Narrow.ttf");
}
@font-face {
  font-family: "Impact";
  src: url("../fonts/ImpactPureNumber.ttf");
}
.impact {
  font-family: "Impact", sans-serif;
}

body {
  font-size: 15px;
  background-color: #eeeeee;
  font-family: "PingFang SC", "Microsoft Yahei UI", "Microsoft Yahei", "Helvetica", sans-serif;
}

.container {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1920px;
}

footer {
  padding: 20px 0 40px;
  font-family: "PTSans-Narrow";
  font-size: 12px;
  text-align: center;
  color: #8E8E93;
}

.about {
  overflow: hidden;
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
}

.header {
  padding-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #000;
}
.header h3 {
  line-height: 1.5;
  text-align: left;
  font-size: 2.5rem;
}

.series-list {
  margin-top: 20px;
}

.series {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 20px;
  overflow: auto;
  background-color: #fff;
  margin-bottom: 30px;
  border: 1px solid #dadada;
}

.shadow, thead {
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
}

.text-shadow-light, .label, .battery {
  text-shadow: 0 0.5、；px 0px rgba(0, 0, 0, 0.2);
}

.text-right {
  text-align: right;
}

.block {
  display: block;
  width: 100%;
}

.mb-2 {
  margin-bottom: 10px;
}

.full-screen {
  cursor: pointer;
  position: fixed;
  left: 10px;
  bottom: 10px;
  z-index: 100;
}
.full-screen-btn {
  opacity: 0.3;
  width: 20px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.full-screen-btn img {
  display: block;
  width: 100%;
}
.full-screen-btn:hover {
  opacity: 1;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.full-screen-tip {
  font-size: 12px;
  color: #999;
}
.full-screen-tip-mobile {
  left: 20px;
  bottom: 20px;
  font-size: 12px;
  color: #999;
}

@media (max-width: 768px) {
  .container {
    padding: 0;
  }

  .about {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
  }

  .header {
    padding: 15px 10px 10px 5px;
  }
  .header h3 {
    font-size: 2rem;
  }

  .series-list {
    padding: 0 10px;
    margin-top: 20px;
  }

  .series {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 30px;
  }
}
.gradient {
  background-image: linear-gradient(to bottom right, #363d40, #6a7282);
}

/*# sourceMappingURL=iPad.css.map */
