@import "variables";
@import "reset";
@import "utility";
@import "mixin";


body{
  font-size: 15px;
  @media (max-width: 750px){
    font-size: 10px;
  }
}

.container{
  padding: 30px;
  margin: 0 auto;
  max-width: 1800px;
  @media (max-width: 1200px){
    padding: 5px;
  }

}

.header {
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: $label-font-size;
  color: $color-text;
  h3{
    line-height: 1.5;
    text-align: left;
    font-size: 2.5rem;
  }

  $sign-text-color: lighten($color-text,30%);
  .sign{
    line-height: 1.3;
    font-size: 10px;
    color: $sign-text-color;
    padding: 8px 10px 8px 8px;
    background-color: rgba(0,0,0,0.03);
    @include border-radius(3px);
    @include box-shadow(inset 1px 1px 1px rgba(0, 0, 0, 0.05));
    p{
      &:last-child{
        margin-bottom: 0;
      }
      a {
        color: $sign-text-color;
      }
    }
  }
}

.series{
  padding: 10px;
  overflow: auto;
  background-color: #fff;
  margin-bottom: 30px;
}

.shadow{
  @include box-shadow(1px 1px 1px rgba(0, 0, 0, 0.15));
}

.link{
  &:hover{
    color: $magenta !important;
  }
  &:active{
    transform: translateY(2px);
  }
}

