@import "variables";
@import "reset";
@import "utility";
@import "mixin";
@import "font";


body{
  font-size: 15px;
  background-color: $bg-highlight;
  font-family: "PingFang SC", "Microsoft Yahei UI", "Microsoft Yahei", "Helvetica", sans-serif;
}

.container{
  padding: 30px;
  margin: 0 auto;
  max-width: 1800px;

  @media (min-width: 1200px) and (max-width:1440px){
    padding: 20px;
  }
  @media (min-width: 768px) and (max-width:1200px){
    padding: 10px;
  }
  @media (max-width: 768px){
    padding: 5px;
  }
}

.header {
  padding-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: $text-header;
  h3{
    line-height: 1.5;
    text-align: left;
    font-size: 2.5rem;
  }
}

.series{
  padding: 20px;
  overflow: auto;
  background-color: #fff;
  margin-bottom: 30px;
  border: 1px solid $color-border;
  @include border-radius(3px);
  @media (max-width: 768px){
    padding: 10px;
    margin-bottom: 10px;
  }
}

.shadow{
  @include box-shadow(1px 1px 1px rgba(0, 0, 0, 0.15));
}

.link{
  &:hover{
    color: $magenta !important;
  }
  &:active{
    transform: translateY(2px);
  }
}

.text-shadow-light{
  text-shadow: 0 0.5、；px 0px rgba(0,0,0,0.2);
}


.text-right{
  text-align: right;
}

.block{
  display: block;
  width: 100%;
}

.mb-2{
  margin-bottom: 10px;
}

// 全屏
.full-screen{
  cursor: pointer;
  position: fixed;
  left: 10px;
  bottom: 10px;
  z-index: 100;
  &-btn {
    opacity: 0.3;
    width: 30px;
    @include transition(all 0.3s);
    img {
      display: block;
      width: 100%;
    }
    &:hover{
      opacity: 1;
      @include transition(all 0.3s)
    }
  }
  &-tip{
    font-size: 12px;
    color: #999;
  }
  &-tip-mobile{
    left: 20px;
    bottom: 20px;
    font-size: 12px;
    color: #999;
  }
}

// 关于
.about{
  display: flex;
  justify-content: space-between;
  align-items: center;
  .logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    flex-shrink: 0;
    width: 200px;
    img{
      width: 100px;
    }
  }

  .content{
    color: $text-about;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    flex-grow: 1;
    .title{
      color: $text;
      margin-bottom: 1.5rem;
    }
    a{
      text-decoration: underline;
      font-weight: bold;
    }
    > p{
      margin-bottom: 3px;
    }
  }
}

.copyright{
  margin-top: 15px;
  line-height: 1.5;
  font-size: 12px;
  letter-spacing: 0.5px;
  padding: 8px 10px 8px 8px;
  background-color: rgba(0,0,0,0.03);
  border: 1px solid lighten($color-border, 9%);
  @include border-radius(3px);
  p{
    &:last-child{
      margin-bottom: 0;
    }
  }
}


@media (max-width: 768px){
  .header{
    padding-bottom: 5px;
    h3{
      font-size: 2rem;
    }
  }
  .about{
    padding: 15px;
    flex-flow: column nowrap;
    .logo{
      margin-right: 0;
      img{
        width: 80px;
      }
      padding: 30px 0;
    }
    .content{
      .title{
        margin-bottom: 10px;
        text-align: center;
      }
      align-items: stretch;
    }

  }
}