@import "variables";
@import "reset";
@import "utility";
@import "mixin";
@import "font";


body{
  font-size: 15px;
  background-color: $bg-highlight;
  font-family: "PingFang SC", "Microsoft Yahei UI", "Microsoft Yahei", "Helvetica", sans-serif;
}

.container{
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1920px;
}

.about{
  overflow: hidden;
  @include border-radius(0 0 5px 5px);
}


.header {
  padding-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: $text-header;
  h3{
    line-height: 1.5;
    text-align: left;
    font-size: 2.5rem;
  }
}

.series-list{
  margin-top: 20px;
}

.series{
  @include border-radius(5px);
  padding: 20px;
  overflow: auto;
  background-color: #fff;
  margin-bottom: 30px;
  border: 1px solid $color-border;;
}

.shadow{
  @include box-shadow(1px 1px 1px rgba(0, 0, 0, 0.15));
}



.text-shadow-light{
  text-shadow: 0 0.5、；px 0px rgba(0,0,0,0.2);
}


.text-right{
  text-align: right;
}

.block{
  display: block;
  width: 100%;
}

.mb-2{
  margin-bottom: 10px;
}

// 全屏
.full-screen{
  cursor: pointer;
  position: fixed;
  left: 10px;
  bottom: 10px;
  z-index: 100;
  &-btn {
    opacity: 0.3;
    width: 20px;
    @include transition(all 0.3s);
    img {
      display: block;
      width: 100%;
    }
    &:hover{
      opacity: 1;
      @include transition(all 0.3s)
    }
  }
  &-tip{
    font-size: 12px;
    color: #999;
  }
  &-tip-mobile{
    left: 20px;
    bottom: 20px;
    font-size: 12px;
    color: #999;
  }
}

@media (max-width: 768px){
  .container{
    padding: 0;
  }
  .about{
    @include border-radius(0);
  }
  .header{
    padding: 15px 10px 10px 5px;
    h3{
      font-size: 2rem;
    }
  }
  .series-list{
    padding: 0 10px;
    margin-top: 20px;
  }
  .series{
    @include border-radius(3px);
    padding: 10px;
    margin-bottom: 30px;
  }
}


.gradient{
  //background-image: linear-gradient(to top left, #d03064, #0058a0);
  background-image: linear-gradient(to bottom right, #363d40, #6a7282);
}
