$color-bg: rgba(255,255,255,0.10);

.search-bar{
  width: 20rem;
  margin-top: 5px;
  margin-bottom: 5px;
  input{
    @include border-radius(2px);
    background-color: transparent;
    border: 1px solid rgba(white, 0.3);
    width: 100%;
    padding: 5px 8px;
    color: white;
    transition: all 0.5s;
    &::-webkit-input-placeholder{
      color: rgba(255,255,255,0.5);
    }
    &:focus{
      border-color: rgba(white, 0.8);
      &::-webkit-input-placeholder{
        color: rgba(255,255,255,0.8);
      }
    }
  }
}

.hands-up{
  position: relative;
  &-trigger{
    @include unselectable;
    cursor: pointer;
    padding: 5px 10px;
    @include border-radius(2px);
    background-color: $color-bg;
    &.active{
      background-color:transparentize(white, 0.5);
    }
    &:hover{
      border-color: transparentize(white, 0.5);
    }
  }
  &-panel{
    @include box-shadow(2px 3px 10px rgba(0,0,0,0.2));
    padding: 20px 25px;
    color: $text-label;
    @include border-radius(8px);
    left: 120%;
    top: -50%;
    background-color: white;
    position: absolute;
    p{
      white-space: nowrap;
    }
    code{
      color: $blue;
      font-weight: bold;
    }
  }

  @media (max-width: 768px) {
    display: none;
  }
}

.about-header{
  display: flex;
  justify-content: space-between;
  .icon{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 30px;
    img{
      width: 60px;
    }
  }
  .content{
    flex-grow: 1;
    display: flex;
    flex-flow: column nowrap;
    margin-left: 50px;
    justify-content: center;
    align-items: flex-start;
    p{
      margin-bottom: 5px;
      &:last-child{
        margin-bottom: 0;
      }
    }
  }

  @media (max-width: 768px){
    margin-bottom: 20px;
    .icon{
      display: none;
    }
    .content{
      margin-left: 5px;
      .title{
        width: 100%;
        text-align: center;
      }
    }
  }
}

// 关于
.about{
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: $fz-sm;
  padding: 35px;
  background-color: white;
  a{
    &:hover{
      text-decoration: underline;
    }
    color: white;
  }
  @media (max-width: 768px){
    align-items: stretch;
    padding: 35px 25px 25px;
    flex-flow: column nowrap;
  }
}
.copyright-group{
  display: flex;
  justify-content: space-between;
  @media (max-width: 768px){
    flex-flow: column nowrap;
  }
}
.copyright{
  margin-left: 30px;
  padding: 10px 15px;
  justify-content: space-between;
  line-height: 1.5;
  font-size: 12px;
  letter-spacing: 0.5px;
  @include border-radius(5px);
  background-color: $color-bg;
  p{
    color: rgba(255,255,255,0.7);
    &:last-child{
      margin-bottom: 0;
    }
  }
  @media (max-width: 768px){
    @include border-radius(3px);
    background-color: rgba(255,255,255,0.05);
    border: none;
    margin: 0 0 10px;
  }
}

.link{
  &:hover{
    color: $magenta !important;
  }
  &:active{
    transform: translateY(2px);
  }
}

@media (max-width: 768px){
  .search-bar{
    display: none;
  }
}
