$dark-bg: lighten(black, 10%);
$dark-bg-highlight: lighten(black, 25%);
$dark-bg-light: lighten(black, 15%);


$dark-text: lighten(black, 75%);
$dark-text-title: lighten(black, 85%);
$dark-text-subtitle: lighten(black, 65%);

$dark-border: lighten(black, 30%);


@media (prefers-color-scheme: dark) {
  body{
    background-color: $dark-bg;
  }

  .header {
    color: $dark-text-title;
  }

  .series {
    background-color: $dark-bg;
  }

  // LABEL
  $dark-text-label: transparentize(white, 0.3);

  $label-styles: (
          "green": $green,
          "cyan": $cyan,
          "blue": $blue,
          "purple": $purple,
          "magenta": $magenta,
          "pink": $pink,
          "red": $red,
          "orange": $orange,
          "yellow": $yellow,
          "gray": $gray,
  );

  @each $name, $color in $label-styles {
    .label-#{$name}{
      color: $dark-text-label;
      border: 1px solid transparentize(darken($color, 15%), $label-transparent-rate / 2);
      background-color: transparentize(darken($color, 15%), $label-transparent-rate);
    }
  }

  $dual-label-types: (
          "cpu": $magenta,
          "gpu": $orange,
          "memory": $green
  );

  @each $name, $color in $dual-label-types{
    .dual-label-#{$name}{
      .model{
        background-color: transparentize(darken($color, 18%), $label-transparent-rate);
        color: $dark-text-label;
        border-color: transparentize(darken($color, 18%), $label-transparent-rate);
        @include box-shadow(0 1px 2px rgba(0,0,0,0.1))
      }
      .rate{
        border-color: transparentize(darken($color, 18%), $label-transparent-rate);
        color: darken($color, 13%);
        background-color: white;
      }
    }
  }

  $color-battery: transparentize(darken($green, 18%), $label-transparent-rate);
  .battery{
    @extend .text-shadow-light;
    display: inline-block;
    font-size: $fz-label;
    line-height: $height-battery - 10;
    padding: $label-padding + 1 5px;
    border: 1px solid $color-battery;
    text-align: center;
    color: white;
    background-color: $color-battery;
    position: relative;
    @include border-radius(3px);
    &:after{
      content: "";
      position: absolute;
      right: -3px - 1px - 1px;
      top: ($height-battery - 10px)/2 - 1px;
      height: 10px;
      width: 3px;
      background-color: $color-battery;
      @include border-radius(0 2px 2px 0);
    }
  }




  // TABLE
  tbody tr{
    border-color: $dark-bg-light;
    &:hover {
      background-color: $dark-bg-highlight !important;
    }
    &:nth-child(odd){
      background-color: $dark-bg-light;
    }
    &:nth-child(even){
      background-color: $dark-bg;
    }
  }

  th{
    background-color: rgba(0,0,0,0.03);
    border-color: $dark-border;
    color: $dark-text;
    sup{
      color: $dark-text-subtitle;
    }
  }

  td{
    color: $dark-text;
    p{
      color: $dark-text;
    }
  }

  .light-gray{
  }

  .text-emphasis{
    color: $dark-text-title;
  }
  .gray{
    color: $dark-text-subtitle;
  }

  // LABEL
  .rate{
    background-color: transparent !important;
  }


  // CAMERA
  .camera{
    background-color: transparentize(white, 0.95);
    border-color: transparentize(white, 0.90);
  }

  // SCROLL BAR
  ::-webkit-scrollbar {
    z-index: 50;
    width: 8px;
    height: 10px;
  }

  ::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0);
  }

  ::-webkit-scrollbar-thumb {
    border-color: transparent;
    background-color: transparent;
  }

  :hover::-webkit-scrollbar-thumb {
    border: 1px solid $dark-border;
    background-color: $dark-bg-highlight;
  }



  // ABOUT
  .gradient{
    background-image: linear-gradient(to bottom right, #2A2A2A, #373737);
  }
}
