@font-face {
  font-family: "PTSans-Narrow";
  src: url("../fonts/PTSans-Narrow.ttf");
}

@font-face {
  font-family: "Impact";
  src: url("../fonts/impact.ttf");
}

@font-face {
  font-family: "Galvji";
  src: url("../fonts/Galvji.ttf");
}

.font-galvji{
  font-family: 'Galvji';
}

.impact{
  font-family: 'Impact', sans-serif;
}

