/* Table */
.table-wrapper{
  overflow-x: auto;
}
table{
  width: 100%;
  color: $text;
  &:hover{
    cursor: crosshair;
  }
}

tbody{
  tr{
    height: 70px;
    &:hover{
      background-color: $bg-highlight !important;
      color: #000;
      .camera{
        border-style: solid;
      }
    }
    &.active{
      background-color: darken($bg-highlight, 10%);
    }
  }
}

tr td{
  &:first-child{
    padding-left: 10px;
  }
  &:last-child{
    padding-right: 10px;
  }
}

tbody tr{
  border-bottom: 1px solid #eeeeee;
  &:nth-child(odd){
    background-color: #ffffff;
  }
  &:nth-child(even){
    background-color: #fdfcfc;
  }
  &:last-child{
    border-bottom: 0;
  }
}
thead{
  @extend .shadow;
}

th{
  background-color: rgba(0,0,0,0.03);
  white-space: nowrap;
  border-bottom: 1px solid lighten($color-border, 5%);
  border-top: 1px solid lighten($color-border, 5%);
  text-align: left;
  vertical-align: bottom;
  padding: 10px 5px;
  sup{
    font-family: "Galvji", Sans-serf;
    color: $gray;
    font-size: $fz-label * 0.8;
    font-weight: normal;
    padding: 0 2px;
  }
}

td{
  min-height: 80px;
  white-space: nowrap;
  vertical-align: middle;
  padding: 0.5rem 0.2rem;
  p{
    margin-bottom: 2px;
  }
}
