// Colors
$green          : #00b56b;
$cyan           : #5AC8FA;
$blue           : #007AFF;
$purple         : #5856D6;
$magenta        : #FF2D70;
$pink           : #ff63d8;
$red            : #FF3B30;
$orange         : #FF9500;
$yellow         : #FFCC00;
$gray           : #5f5f5f;

$fz-title: 25px;



$bg-highlight           : #eeeeee;

$color-border           : #dadada;
$use-shadow             : false;

$color-main: #00A5FF;
$bg-highlight   : #eeeeee;
$font-size: 0.9rem;


$text                   : #333;
$text-header            : #000;
$text-label             : #888;
$text-about             : #555;


$text-main: #404040;
$text-second: #9e9e9e;
$text-sup: #888;
$text-value: #505257;
$bg-storage: #505257;


// label
$label-corner           : 15px;
$label-transparent-rate : 0.2;
$label-padding          : 3px;
$label-padding-lr       : 8px;

$fz-default: 14px;
$fz-cap: 40px;
$fz-sm: 12px;
$fz-label: 13px;
$fz-big: 18px;

