@import "variables";
@import "gradient";
@import "reset";
@import "utility";
@import "mixin";
@import "font";
@import "gutter";
@import "filter-list";

body{
  font-size: $fz-default;
}

.container{
  margin: 0 auto;
}

footer{
  padding: 10px 0 40px;
  font-size: 12px;
  text-align: center;
  color: $gray;
}



.header {
  padding-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: $text-header;
  h3{
    font-family: "Galvji";
    line-height: 1.5;
    text-align: left;
    font-size: $fz-cap;
  }
}

.series-list{
  //padding: 20px;
}

.series{
  padding: 40px 50px;
  overflow: auto;
  background-color: #fff;
  &:first-child{
    margin-top: 0;
  }
}

.shadow{
  @include box-shadow(1px 1px 1px rgba(0, 0, 0, 0.15));
}


.text-shadow-light{
  text-shadow: 0 0.5px 0 rgba(0,0,0,0.2);
}


.text-right{
  text-align: right;
}

.block{
  display: block;
  width: 100%;
}


// 全屏
.full-screen{
  cursor: pointer;
  position: fixed;
  left: 10px;
  bottom: 10px;
  z-index: 100;
  &-btn {
    opacity: 0.3;
    width: 20px;
    @include transition(all 0.3s);
    img {
      display: block;
      width: 100%;
    }
    &:hover{
      opacity: 1;
      @include transition(all 0.3s)
    }
  }
  &-tip{
    font-size: 12px;
    color: #999;
  }
  &-tip-mobile{
    left: 20px;
    bottom: 20px;
    font-size: 12px;
    color: #999;
  }
}

@media (max-width: 768px){
  .container{
    padding: 0;
  }
  .about{
    @include border-radius(0);
  }
  .header{
    padding: 15px 10px 10px 5px;
    h3{
      font-size: 2rem;
    }
  }
  .series-list{
    padding: 0 10px;
    margin-top: 20px;
  }
  .series{
    @include border-radius(3px);
    padding: 10px;
    margin-bottom: 30px;
  }
}


.gradient{
  //background-image: linear-gradient(to top left, #d03064, #0058a0);
  background-image: linear-gradient(to bottom right, #363d40, #6a7282);
  //background-image: linear-gradient(to bottom right, #4D4D4D, #616161);
}


@import "dark";
