<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name='description' content="iPad参数,ipad参数大全,iPad详细参数汇总,iPad参数对比,iPad所有机型参数大全,iPad大全, iPad Pro, iPad Air, iPad Mini, iPad">
    <meta name='keywords' content="iPad参数,ipad参数大全,iPad详细参数汇总,iPad参数对比,iPad所有机型参数大全,iPad大全, iPad Pro, iPad Air, iPad Mini, iPad">

    <title>iPad 所有机型参数大全</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="img/ipad_favicon256w.png" type="image/png">
    <link rel="stylesheet" href="scss/iPad.css?v=20240720151844">
    <link rel="apple-touch-icon" href="img/links/ipad_white@2x.png">
    <script src="../../lib/js/vue.min.2.6.10.js"></script>
    <script src="../../lib/js/axios.min.js"></script>
    <script src="./js/qr.js"></script>

    <style>
        [v-cloak]{
            display: none;
        }
    </style>
</head>
<body>

<div class="container" id="app" v-cloak>

    <!--about-->
    <div class="about gradient">
        <div class="about-header">
            <div class="icon">
                <img style="display: none;" src="img/links/ipad_white@2x.png" alt="for 知乎链接图标抓取">
                <img src="img/links/ipad_white@2x.png" alt="logo ipad">
            </div>
            <div class="content">
                <h1 class="title">iPad 参数大全</h1>
                <div class="thumbs-up" @click="thumbsUp">
                    <img v-if="heartActive" src="img/links/heart_active@1x.png?v=2022-09-04" alt="heart">
                    <img v-else src="img/links/heart_inactive@1x.png?v=2022-09-04" alt="heart">
                    <p v-show="thumbsUpCount" class="multiply">×</p>
                    <h3 v-show="thumbsUpCount">{{thumbsUpCount}}</h3>
                </div>
            </div>
        </div>

        <div class="copyright-group">
            <div class="share-links">
                <a class="link-item">
                    <img src="img/links/ipad_white@2x.png?v=2022-09-04" alt="ipad">
                </a>
                <a class="link-item" target="_blank" href="http://kylebing.cn/tools/iphone">
                    <img src="img/links/iphone_white@2x.png?v=2022-09-04" alt="phone">
                </a>
                <a class="link-item" target="_blank" href="http://kylebing.cn/tools/airpods">
                    <img src="img/links/airpods_white@2x.png?v=2022-09-04" alt="airpods">
                </a>
                <a class="link-item" target="_blank" href="http://kylebing.cn/tools/apple-chip">
                    <img src="img/links/chip_white@2x.png?v=2022-09-04" alt="chip">
                </a>
<!--                <a class="link-item" target="_blank" href="http://kylebing.cn/tools/apple-watch">-->
<!--                    <img src="img/links/apple-watch@2x.png?v=2022-09-04" alt="watch">-->
<!--                </a>-->
            </div>
            <div class="author-info">
                <p>主页：<a class="link" target="_blank" href="http://kylebing.cn/">kylebing.cn</a></p>
                <p>更新：<a class="link" target="_blank"  href="https://en.wikipedia.org/wiki/iPad">{{dateEnd}}</a></p>
                <p>分享：<span class="link" @click="toggleShare">点击扫一扫</span></p>
            </div>

        </div>
    </div>

    <!-- FILTER LIST-->
    <div class="filter-list">
        <div class="iphone-tag-list">
            <div :class="['iphone-tag', {active: selectedNames.includes(item.name)}, {'is-new': item.isNew}]" v-for="item in iPadPro" :key="item.name_short" @click="filterTagToggle(item.name)">
                <span>{{item.name_short}}</span> - <span class="screen-size">{{item.screen.size}}</span>
            </div>
        </div>
        <div class="iphone-tag-list">
            <div :class="['iphone-tag', {active: selectedNames.includes(item.name)}, {'is-new': item.isNew}]" v-for="item in iPadAir" :key="item.name_short" @click="filterTagToggle(item.name)">
                <span>{{item.name_short}}</span> - <span class="screen-size">{{item.screen.size}}</span>
            </div>
        </div>
        <div class="iphone-tag-list">
            <div :class="['iphone-tag', {active: selectedNames.includes(item.name)}, {'is-new': item.isNew}]" v-for="item in iPadMini" :key="item.name_short" @click="filterTagToggle(item.name)">
                <span>{{item.name_short}}</span> - <span class="screen-size">{{item.screen.size}}</span>
            </div>
        </div>
        <div class="iphone-tag-list">
            <div :class="['iphone-tag', {active: selectedNames.includes(item.name)}, {'is-new': item.isNew}]" v-for="item in iPad" :key="item.name_short" @click="filterTagToggle(item.name)">
                <span>{{item.name_short}}</span> - <span class="screen-size">{{item.screen.size}}</span>
            </div>
        </div>

        <div class="iphone-tag-list">
            <div @click="sortWithGeekbenchScore" class="iphone-tag">GeekBench 排序</div>
            <div @click="sortWithBatteryCapacity" class="iphone-tag">电量 排序</div>
            <div @click="sortReset" class="iphone-tag">复位</div>
        </div>
    </div>
    <div class="tip">
        <p><b>tip</b>: <kbd>shift</kbd> + 鼠标滚轮 = 横向滚动</p>
    </div>
    <div class="series-list">
        <div class="series" v-for="(series, index) in iPadsSeries" :key="index">
            <div class="header">
                <h3>{{series.title}}</h3>
            </div>
            <div class="table-wrapper">
                <table>
                    <thead>
                    <tr>
                        <th class="pl-2">型号</th>
                        <th class="pl-1 pr-1">发布年月</th>
                        <th>分辨率<sup>px</sup></th>
                        <th>屏幕信息</th>
                        <th>长 × 宽<sup>mm</sup></th>
                        <th>厚度<sup>mm</sup></th>
                        <th>CPU<sup>GHz x 核</sup></th>
                        <th>GPU<sup>核</sup></th>
                        <th>内存</th>
                        <th>存储<sup>GB</sup></th>
                        <th>电池</th>
                        <th>解锁方式</th>
                        <th>接口</th>
                        <th>按键</th>
                        <th>笔</th>
                        <th>颜色</th>
                        <th>前 - 摄像头</th>
                        <th>后 - 摄像头</th>
                        <th>重量 + 代号</th>
                        <th>型号</th>
                        <th>系统支持</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="(iPad,index) in series.iPads"
                        :key="'iPad' + index"
                        :data-series="iPad.title"
                        :data-index="index">

                        <!-- 新机型预览 -->
                        <template v-if="iPad.isPreview">
                            <td>
                                <div class="model-title">
                                    <div :class="['model', {'is-new': iPad.isNew}]">{{iPad.name_short}}</div>
                                    <div class="label label-blue"> {{iPad.screen.size}}</div>
                                </div>
                            </td>
                            <!--日期-->
                            <td class="size text-mono">
                                <div>{{iPad.release}} ？</div>
                            </td>
                        </template>

                        <template v-else>
                            <td>
                                <div class="model-title">
                                    <div :class="['model', 'text-mono',  {'is-new': iPad.isNew}]">{{iPad.name_short}}</div>
                                    <div class="size text-mono"> {{iPad.screen.size}}</div>
                                </div>
                            </td>
                            <!--日期-->
                            <td >
                                <div class="date" :style="yearStyle(iPad.release)">
                                    <div class="year" >{{iPad.release.substring(0, 4)}}</div>
                                    <div class="gray month text-normal">{{iPad.release.substring(5, 7)}}</div>
                                </div>
                            </td>
                            <!--屏幕 长x宽-->
                            <td>
                                <div class="active">{{iPad.screen.width}} × {{iPad.screen.height}}<span class="unit"></span></div>
                            </td>
                            <!--屏幕 长x宽-->
                            <td>
                                <div class="screen">
                                    <dl>
                                        <dd>{{iPad.screen.density}}<span class="unit">ppi</span></dd>
                                        <template v-if="iPad.screen.refreshRate">
                                            <dd class="label label-magenta" v-if="iPad.screen.refreshRate === 120"  >{{iPad.screen.refreshRate}}<span class="unit">hz</span></dd>
                                            <dd class="label label-green" v-else >{{iPad.screen.refreshRate}}<span class="unit">hz</span></dd>
                                        </template>
                                    </dl>
                                    <dl>
                                        <dd v-if="iPad.screen.xdr">
                                            XDR<span v-if="iPad.screen.xdrRange" class="unit">{{iPad.screen.xdrRange[0]}} ~ {{iPad.screen.xdrRange[1]}}nit</span>
                                        </dd>
                                        <dd v-if="iPad.screen.material">{{iPad.screen.material}}<span class="unit"></span>
                                        </dd>
                                    </dl>
                                    <dl>
                                        <dd v-if="iPad.screen.brightness" >{{iPad.screen.brightness}}<span class="unit">nit</span></dd>
                                        <dd v-if="iPad.screen.colorP3">P3</dd>
                                        <dd v-if="iPad.screen.trueTone">TrueTone</dd>
                                    </dl>
                                </div>
                            </td>
                            <!--长x宽-->
                            <td class="font-galvji">{{iPad.width}} × {{iPad.height}}</td>
                            <!--厚度-->
                            <td class="text-emphasis"><span class="label label-pink">{{iPad.thickness}}</span></td>
                            <!--cpu-->
                            <td>
                                <div class="dual-label-cpu">
                                    <div class="model">{{iPad.cpu.model}}</div>
                                    <div class="rate">{{iPad.cpu.rate + ' x ' + iPad.cpu.core}}</div>
                                </div>
                                <div class="score-bar green" v-if="iPad.geekbenchScore">
                                    <div class="bar" :style="`width: ${iPad.geekbenchScore / maxScore * 100}px`"></div>
                                    <div class="score">{{iPad.geekbenchScore}}</div>
                                </div>
                            </td>
                            <!--gpu-->
                            <td>
                                <div class="dual-label-gpu gpu" v-if="iPad.gpu.model">
                                    <div class="model">{{iPad.gpu.model}}</div>
                                    <div class="rate">{{iPad.gpu.core ? iPad.gpu.core : '&nbsp;'}}</div>
                                </div>
                            </td>
                            <!--memory-->
                            <td>
                                <div class="dual-label-memory memory" v-for="(memory,index) in iPad.memory" :key="'memory' + index">
                                    <div v-if="memory.size < 1" class="model">{{memory.size * 1000}} M</div>
                                    <div v-else class="model">{{memory.size}} G</div>
                                    <div v-if="memory.name || memory.type" class="rate">{{memory.type}}  {{memory.name}}</div>
                                </div>
                            </td>
                            <!--存储-->
                            <td>
                            <span v-for="(size,index) in iPad.storage" :key="'size' + index" class="label-blue label label-sm">
                                <span v-if="size < 1024">{{size}}</span>
                                <span v-else>{{Math.round((size/1024))}}T</span>
                            </span>
                            </td>
                            <!--电池-->
                            <td>
                                <div class="battery-item">
                                    <div class="battery-voltage" v-if="iPad.battery.voltage">{{iPad.battery.voltage}} v</div>
                                    <div>
                                        <div class="score-bar green" v-if="iPad.battery.capacity">
                                            <div class="bar" :style="`width: ${iPad.battery.capacity / maxBatteryCapacity * 100}px`"></div>
                                            <div class="score">{{iPad.battery.capacity}} mah</div>
                                        </div>
                                        <div class="score-bar blue" v-if="iPad.battery.capacityWH">
                                            <div class="bar" :style="`width: ${iPad.battery.capacityWH / maxBatteryCapacityWH * 100}px`"></div>
                                            <div class="score">{{iPad.battery.capacityWH}} wh</div>
                                        </div>
                                    </div>

                                </div>

                            </td>
                            <!--解锁方式-->
                            <td class="text-small">
                                <div class="key-list">
                                    <div class="key-item" v-for="key in iPad.unlockMethods" :key="key">
                                        <div class="icon" v-if="key === '面容解锁'"><img src="./img/icons/verify_face.png" alt="face"></div>
                                        <div class="icon" v-if="key === '指纹解锁'"><img src="./img/icons/verify_fingerprint.png" alt="fingerprint"></div>
                                        <div class="key-name">{{key}}</div>
                                    </div>
                                </div>
                            </td>
                            <!--connector-->
                            <td class="text-small">
                                <div class="key-list">
                                    <div class="key-item" v-for="connector in iPad.connector" :key="connector">
                                        <div class="icon" v-if="connector === '闪电'"><img src="./img/icons/port_lightning.png" alt="lightning"></div>
                                        <div class="icon" v-if="connector === '智能接点'"><img src="./img/icons/port_connector.png" alt="connector"></div>
                                        <div class="icon" v-if="connector === '3.5mm音频接口'"><img src="./img/icons/port_3.5mm.png" alt="3.5mm"></div>
                                        <div class="icon" v-if="connector === 'USB-C'"><img src="./img/icons/port_usbc.png" alt="usbc"></div>
                                        <div class="icon" v-if="connector === '雷雳3'"><img src="./img/icons/port_usbc_thunderbolt.png" alt="usbc"></div>
                                        <div class="icon" v-if="connector === '磁力接点'"><img src="./img/icons/port_meg.png" alt="meg"></div>
                                        <div class="icon" v-if="connector === '30针'"><img src="./img/icons/port_30pin.png" alt="meg"></div>
                                        <div class="key-name">{{connector}}</div>
                                    </div>
                                </div>
                            </td>
                            <!--按键-->
                            <td class="text-small">
                                <div class="key-list">
                                    <div class="key-item" v-for="key in iPad.mechanicalKeys" :key="key">
                                        <div class="icon" v-if="key === '开关机键'"><img src="./img/icons/key_power.png" alt="power"></div>
                                        <div class="icon" v-if="key === '音量增减键'"><img src="./img/icons/key_volume.png" alt="volume"></div>
                                        <div class="icon" v-if="key === 'Home键'"><img src="./img/icons/key_home.png" alt="home"></div>
                                        <div class="key-name">{{key}}</div>
                                    </div>
                                </div>
                            </td>
                            <!--pencil-->
                            <td class="text-small text-narrow">
                                <p v-for="applePencil in iPad.pencil" :key="applePencil">
                                    <span class="text-bold">{{applePencil}}</span>
                                </p>
                            </td>
                            <!--颜色-->
                            <td class="text-small text-narrow">
                                <p v-for="color in iPad.colors" :key="color">
                                    <span>{{color}}</span>
                                </p>
                            </td>
                            <!--camera front-->
                            <td>
                                <div class="camera" v-if="iPad.cameras.front.pixelCount">
                                    <span class="hdr" v-if="iPad.cameras.front.hdr">HDR</span>
                                    <span>{{iPad.cameras.front.pixelCount}}</span>
                                    <div class="dimension">
                                        <div class="dimension-item" v-for="(dimension, index) in iPad.cameras.front.dimension" :key="index">
                                            <div class="size">{{dimension.size}}</div>
                                            <div class="fps" v-for="(fps, fpsIndex) in dimension.fps" key="fpsIndex"> {{fps}}{{fpsIndex+1 ===dimension.fps.length ? '': ','}}</div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <!--camera back-->
                            <td>
                                <div class="camera" v-for="(camera, cameraIndex) in iPad.cameras.back" :key="cameraIndex">
                                    <div class="base-info">
                                        <div>
                                            <span class="hdr" v-if="camera.hdr">HDR</span>
                                            <span class="pixel-count">{{camera.pixelCount}}</span>
                                        </div>
                                        <span>缩放×{{camera.zoomRate}}</span>
                                    </div>
                                    <div class="dimension">
                                        <div class="dimension-item" v-for="(dimension, index) in camera.dimension" :key="index">
                                            <div class="size">{{dimension.size}}</div>
                                            <span class="impact">FPS：</span>
                                            <div class="fps" v-for="(fps, fpsIndex) in dimension.fps" key="fpsIndex"> {{fps}}{{fpsIndex+1 ===dimension.fps.length ? '': ','}}</div>
                                        </div>
                                    </div>
                                </div>
                            </td>

                            <td class="text-small text-narrow">
                                <p v-for="model in iPad.models" :key="model.id">
                                    <span class="text-bold">{{model.weight}}克   </span><span>{{model.model}}</span>
                                </p>
                            </td>
                            <td class="text-small text-narrow">
                                <p v-for="model in iPad.models" :key="model.id">
                                    <span>{{model.name}}</span>
                                </p>
                            </td>
                            <!-- OS -->
                            <td class="text-small">
                                <p>初始：{{iPad.os.init}}</p>
                                <p>最终：<span :class="{'green text-bold': iPad.os.last === latestOS}">{{iPad.os.last}}</span></p>
                            </td>
                        </template>

                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <!--    分享 -->
    <div class="help-container" v-show="showShare" :style="`height: ${insets.height}px`">
        <div class="help">
            <div class="help-header">
                <h3>扫一扫</h3>
            </div>
            <div class="help-body">
                <div class="qr-item">
                    <div class="img-container">
                        <img :src="shareQrCode" alt="qr">
                    </div>
                    <p>当前页</p>
                </div>
                <div class="qr-item">
                    <div class="img-container">
                        <img :src="shareQrCodeQQ" alt="qr">
                    </div>
                    <p>QQ群</p>
                </div>
            </div>
            <div class="help-footer">
                <div class="operation-btn" @click="toggleShare">关闭</div>
            </div>
        </div>
    </div>

    <footer>
        <p>2020.04.14 ~ {{dateEnd}}</p>
        <p><a class="link" target="_blank" href="https://github.com/KyleBing/ipad">https://github.com/KyleBing/ipad</a></p>
    </footer>

    <!--进入全屏按钮-->
    <div v-if="showFullScreenBtn"
         v-show="!didEnteredFullScreen"
         class="full-screen full-screen-btn"
         @click="enterFullScreen">
        <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAF4AAABeCAYAAACq0qNuAAAABGdBTUEAALGPC/xhBQAAADhlWElmTU0AKgAAAAgAAYdpAAQAAAABAAAAGgAAAAAAAqACAAQAAAABAAAAXqADAAQAAAABAAAAXgAAAADsPCiCAAABm0lEQVR4Ae3cQWoCARQD0Np7CT16wYO129lMdpnI+FwJnyb2NYuC6OPrpo/n8+fvnX+173d+cXd+beBHf13w4EcCo1qLH8E/Rr0fU3v235XFjyYAHvxIYFRr8eBHAqNaiwc/EhjVWjz4kcCo1uLBjwRGtRYPfiQwqrV48COBUa3Fgx8JjGotHvxIYFRr8eBHAqNaiwc/EhjVWjz4kcCo1uLBjwRGtRYPfiQwqrV48COBUa3Fgx8JqCVAgAABAgQIECBAgAABAgQIECBAgMBHCTzOvk/l9fr1XTbFKXgjpIibosEnneINfBE3RYNPOsUb+CJuigafdIo38EXcFA0+6RRv4Iu4KRp80inewBdxUzT4pFO8gS/ipmjwSad4A1/ETdHgk07xBr6Im6LBJ53iDXwRN0WDTzrFG/gibooGn3SKN/BF3BQNPukUb+CLuCkafNIp3sAXcVM0+KRTvIEv4qZo8EmneANfxE3R4JNO8Qa+iJuiTz8Rkn7oyttdP5li8Veu6NAF/oBx5VPwV2ofusAfMK58Cv5K7UPXPznoDA8I21eUAAAAAElFTkSuQmCC" alt="fullscreen-button" title="进入全屏模式">
    </div>

    <!--TIPS-->
    <p v-show="didEnteredFullScreen" class="full-screen full-screen-tip">Esc 退出全屏模式</p>

</div>

<script src="./js/iPad.js?v=20240720151844"></script>
<script>
    setTimeout(() => {
        if (!/^http:\/\/(a\.kylebing\.cn|localhost|192\.168\.\d{1,3}\.\d{1,3})/i.test(location.href)) {
            let hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?1e6cadf1b902683e03caa1ef60cc56a2";
            let s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        }
    }, 1000)
</script>


</body>
</html>
