/* Error: No argument named $space.
 *    ,
 * 38 |         "light-gray": color.adjust($gray, $lightness: 10%, $space: hsl),
 *    |                       ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
 *    '
 *   ..\..\scss\_text.scss 38:23  @import
 *   ..\..\scss\_mixin.scss 1:9   @import
 *   ..\..\scss\iPad.scss 5:9     @import
 *   main.scss 1:9                root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: No argument named $space.\a    \2577 \a 38 \2502          "light-gray": color.adjust($gray, $lightness: 10%, $space: hsl),\d\a    \2502                        ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^\a    \2575 \a   ..\\..\\scss\\_text.scss 38:23  @import\a   ..\\..\\scss\\_mixin.scss 1:9   @import\a   ..\\..\\scss\\iPad.scss 5:9     @import\a   main.scss 1:9                root stylesheet';
}
